mainmenu "ch32v103_mini main menu"

menu "Compile Information"

        config CROSS_COMPILE
                string "Compiler"
                default "riscv-none-embed"
                help
                        Specifies the corss compiler

        config CFLAGS
                string "CFLAGS"
                default ""
                help
                        Specifies the Compile parameters

        config LDFLAGS
                string "LDFLAGS"
                default ""
                help
                        Specifies the Compiler Collection parameters

        config LINK_FILE
                string "Linker Script"
                default "script.ld"
                help
                        Specifies the link file

        config IMG_NAME
                string "Output"
                default "temp"
                help
                        Specifies the output image name

endmenu	# Compile Info
